@font-face {
  font-family: "Averta", sans-serif;
  src: url("./fonts//Averta/AvertaStd-Regular.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Averta Extra Thin", sans-serif;
  src: url("./fonts//Averta/AvertaStd-Extrathin.otf");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Averta Light", sans-serif;
  src: url("./fonts/Averta/AvertaStd-Light.otf");
  font-weight: 250;
  font-style: normal;
}
.plus-jakarta-sans {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.be-vietnam-pro-extralight {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.be-vietnam-pro-regular {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.be-vietnam-pro-medium {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.be-vietnam-pro-bold {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.btn-download {
  border: 1px solid #000;
  border-radius: 35px;
  padding: 4px 12px;
  font-weight: 700;
  font-size: 16px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  background-color: transparent;
}
.btn-download span {
  padding: 0 4px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* body {
  background-color: #FFFCF9;
  font-size: 16px;
  font-family: "Averta", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  scroll-behavior: smooth;
}
* body header {
  height: 80px;
  color: #fff;
  background-color: #f5940c;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
}
* body header nav {
  margin: 0 auto;
  padding: 0;
  width: 1000px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
* body header nav a {
  text-decoration: none;
  text-align: center;
  color: #fff;
  padding: 28px;
  font-size: 14px;
  font-weight: 700;
}
* body header nav .nav-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
* body header nav .header-menu-button {
  display: none;
  padding: 1rem;
  background-color: inherit;
  border: none;
}
* body header nav .header-menu-button img {
  width: 150%;
}
* body .sidebar {
  position: fixed;
  background-color: #f5940c;
  z-index: 4;
  width: 0;
  height: 100vh;
  top: 0;
  right: 0;
  transition: 0.3s;
}
* body .sidebar .sidebar-button {
  background-color: inherit;
  color: #fff;
  border: none;
  width: 100%;
  padding: 1rem;
  font-size: 1.5rem;
  text-align: left;
}
* body .sidebar .sidebar-button img {
  width: 20%;
}
* body .sidebar .sidebar-menu {
  list-style: none;
}
* body .sidebar .sidebar-menu .sidebar-link {
  padding: 0.5rem 2rem;
  width: 100%;
  font-size: 1.5rem;
}
* body .sidebar .sidebar-menu .sidebar-link a {
  color: #fff;
}
* body .sidebar .sidebar-menu .sidebar-link a:hover {
  color: #000;
}
* body .main {
  margin: 0 20px;
  font-family: "Be Vietnam Pro", sans-serif;
}
* body .main .main-title {
  font-size: 24px;
  font-weight: 500;
  padding: 20px 0;
}
* body .main .section-parent {
  max-width: 1204px;
  margin: 0 auto 80px;
}
* body .main .section-parent .parent-title {
  font-size: 24px;
  font-weight: 700;
}
* body .main .section-parent .section-children {
  margin: 24px 0px;
  display: flex;
  justify-content: space-between;
}
* body .main .section-parent .section-children .section-left {
  width: 40%;
}
* body .main .section-parent .section-children .section-left .children-title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 16px;
}
* body .main .section-parent .section-children .section-left .children-description {
  font-size: 16px;
}
* body .main .section-parent .section-children .section-right {
  width: 60%;
  padding-left: 70px;
}
* body .main #logo .section-right .imgage {
  text-align: center;
}
* body .main #logo .section-right .imgage .img-container img {
  max-width: 100%;
}
* body .main #logo .section-right .imgage .description {
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  margin: 24px;
}
* body .main #logo .section-right .imgage .button-container {
  display: flex;
  justify-content: center;
  gap: 30px;
}
* body .main #logo .section-right .second-row {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  gap: 20px;
}
* body .main #logo .section-right .section-logo-background img {
  width: 100%;
}
* body .main #color .section-right .section-color {
  display: grid;
  grid-template-columns: auto auto;
}
* body .main #color .section-right .card-color {
  padding: 25px;
  position: relative;
}
* body .main #color .section-right .card-color .logo {
  position: absolute;
  right: 20px;
}
* body .main #color .section-right .card-color .card-section {
  margin-bottom: 20px;
}
* body .main #color .section-right .card-color .card-section .card-title {
  font-weight: 700;
}
* body .main #color .section-right .card-color .card-section .card-color-name {
  font-weight: 200;
}
* body .main #color .section-right .card-color .card-section .card-color-code {
  font-weight: 400;
}
* body .main #color .section-right #card-orange {
  background-color: #f5940c;
  grid-row: 1/span 2;
  border-radius: 16px 0 0 16px;
}
* body .main #color .section-right #card-orange .card-color-name {
  color: #fff;
}
* body .main #color .section-right #card-white {
  background-color: #fff;
  border-radius: 0 16px 0 0;
}
* body .main #color .section-right #card-black {
  background-color: #000;
  border-radius: 0 0 16px 0;
  color: #fff;
}
* body .main #social-media .button-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 20px;
}
* body .main #social-media .section-right .imgage {
  text-align: center;
}
* body .main #social-media .section-right .imgage .img-container img {
  max-width: 100%;
}
* body .main #social-media .section-right .imgage .description {
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  margin: 24px;
}
* body .main #social-media #avatar img {
  margin: 0 12px;
}
* body .main #social-media #phone-wallpaper p {
  margin-bottom: 20px;
}
* body .main #social-media #phone-wallpaper .button-container {
  gap: 8px;
}
* body .main #social-media #phone-wallpaper .section-phone {
  width: 100%;
  display: grid;
  grid-template-columns: 33% 33% 33%;
}
* body .main #social-media #phone-wallpaper .section-phone .logo {
  height: 418px;
  display: flex;
  justify-content: center;
  align-items: center;
}
* body .main #social-media #phone-wallpaper .section-phone #left-phone .logo {
  background-color: #f5940c;
  border-radius: 16px 0 0 0;
}
* body .main #social-media #phone-wallpaper .section-phone #right-phone .logo {
  background-color: #f5940c;
  border-radius: 0 16px 0 0;
}
* body .main #form p {
  margin-bottom: 20px;
}
* body .main #form .button-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 20px;
}
* body .main #form .section-right .imgage {
  text-align: center;
}
* body .main #form .section-right .imgage .img-container img {
  max-width: 100%;
}
* body .main #typography #header .section-right section {
  margin-bottom: 34px;
  padding-bottom: 32px;
  border-bottom: 1px solid #f5940c;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
}
* body .main #typography #header .section-right section .right-title {
  color: #f5940c;
}
* body .main #typography #header .section-right .section-title div {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 40px;
  font-weight: 700;
}
* body .main #typography #header .section-right .section-regular {
  font-family: "Plus Jakarta Sans", sans-serif;
}
* body .main #typography #header .section-right .section-regular .left {
  font-weight: 400;
  font-size: 48px;
}
* body .main #typography #header .section-right .section-regular .right {
  font-weight: 400;
}
* body .main #typography #header .section-right .section-medium {
  font-family: "Plus Jakarta Sans", sans-serif;
}
* body .main #typography #header .section-right .section-medium .left {
  font-weight: 500;
  font-size: 48px;
}
* body .main #typography #header .section-right .section-medium .right {
  font-weight: 500;
}
* body .main #typography #header .section-right .section-bold {
  font-family: "Plus Jakarta Sans", sans-serif;
}
* body .main #typography #header .section-right .section-bold .left {
  font-weight: 700;
  font-size: 48px;
}
* body .main #typography #header .section-right .section-bold .right {
  font-weight: 700;
}
* body .main #typography #text .section-right section {
  margin-bottom: 34px;
  padding-bottom: 32px;
  border-bottom: 1px solid #f5940c;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
}
* body .main #typography #text .section-right section .right-title {
  color: #f5940c;
}
* body .main #typography #text .section-right .section-title div {
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 40px;
  font-weight: 700;
}
* body .main #typography #text .section-right .section-regular {
  font-family: "Be Vietnam Pro", sans-serif;
}
* body .main #typography #text .section-right .section-regular .left {
  font-weight: 400;
  font-size: 48px;
}
* body .main #typography #text .section-right .section-regular .right {
  font-weight: 400;
}
* body .main #typography #text .section-right .section-medium {
  font-family: "Be Vietnam Pro", sans-serif;
}
* body .main #typography #text .section-right .section-medium .left {
  font-weight: 500;
  font-size: 48px;
}
* body .main #typography #text .section-right .section-medium .right {
  font-weight: 500;
}
* body .main #typography #text .section-right .section-bold {
  font-family: "Be Vietnam Pro", sans-serif;
}
* body .main #typography #text .section-right .section-bold .left {
  font-weight: 700;
  font-size: 48px;
}
* body .main #typography #text .section-right .section-bold .right {
  font-weight: 700;
}
* body .service-book {
  position: fixed;
  top: 30%;
  right: 0%;
  padding: 5px;
}
* body .service-book .service-card {
  background-color: white;
  padding: 5px;
  box-shadow: -2px 2px 2px #ddd;
  border: 0;
  border-radius: 10px;
  margin-bottom: 10px;
  font-size: 10px;
}
* body .service-book a {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
* body .service-book a div {
  width: "35px";
  height: "35px";
}
* body .service-book-phone {
  display: none;
}
* body .contact {
  position: fixed;
  right: 20px;
  left: 20px;
  bottom: 20px;
  display: flex;
  justify-content: space-between;
}
* body footer {
  background-color: #FFF9EB;
  padding-top: 100px;
  font-family: "Averta Extra Thin", sans-serif;
  font-weight: 200;
}
* body footer .footer-container {
  margin: auto;
  padding: 0 15px;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
* body footer .footer-container .footer-title {
  font-size: 50px;
  text-align: center;
}
* body footer .footer-container .footer-action {
  text-align: center;
}
* body footer .footer-container .footer-action img {
  margin: 5px 10px;
}
* body footer .footer-container .footer-contact {
  font-size: 12px;
  background-color: #131032;
  color: #fff;
  padding: 50px 35px 15px 35px;
  border-radius: 25px 25px 0 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
* body footer .footer-container .footer-contact .footer-left {
  width: 40%;
}
* body footer .footer-container .footer-contact .footer-left div {
  margin-bottom: 40px;
}
* body footer .footer-container .footer-contact .footer-left .logo {
  display: flex;
  align-items: center;
}
* body footer .footer-container .footer-contact .footer-left .logo h1 {
  font-size: 1.8rem;
}
* body footer .footer-container .footer-contact .footer-left address {
  font-style: normal;
  margin-top: 10px;
}
* body footer .footer-container .footer-contact .footer-left address a {
  color: #fff;
  text-decoration: none;
}
* body footer .footer-container .footer-contact .footer-left address a:hover {
  text-decoration: underline;
}
* body footer .footer-container .footer-contact .footer-right {
  width: 60%;
  font-size: 16px;
}
* body footer .footer-container .footer-contact .footer-right .footer-column {
  flex: 1;
  padding: 0 20px;
}
* body footer .footer-container .footer-contact .footer-right .footer-column h2 {
  margin-bottom: 15px;
  font-size: 1.2rem;
}
* body footer .footer-container .footer-contact .footer-right ul {
  list-style: none;
}
* body footer .footer-container .footer-contact .footer-right ul li {
  margin-bottom: 10px;
}
* body footer .footer-container .footer-contact .footer-right ul li a {
  color: #ffffff;
  text-decoration: none;
}
* body footer .footer-container .footer-contact .footer-right ul li a:hover {
  text-decoration: underline;
}
* body footer .footer-container .footer-contact .footer-right .footer-column:last-child {
  font-size: 12px;
}
* body footer .footer-container .footer-contact .footer-right .footer-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 20px;
}
* body footer .footer-container .footer-contact .footer-right .footer-bottom {
  padding-left: 20px;
}
* body footer .footer-container .footer-contact .footer-right .footer-bottom ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
* body footer .footer-container .footer-contact .footer-right .footer-bottom ul li {
  margin-right: 38px;
}
@media only screen and (max-width: 1200px) {
  * body .main .section-parent {
    margin: 0 auto;
  }
  * body .main .section-parent .section-children {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
  }
  * body .main .section-parent .section-children .section-left {
    width: 100%;
  }
  * body .main .section-parent .section-children .section-right {
    width: 100%;
    padding: 0 70px;
  }
  * body footer .footer-container .footer-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  * body footer .footer-container .footer-contact .footer-left,
  * body footer .footer-container .footer-contact .footer-right {
    width: 100%;
  }
}
@media only screen and (max-width: 1024px) {
  * body header nav {
    display: flex;
    justify-content: space-between;
  }
  * body header nav .nav-menu {
    position: static;
    transform: none;
  }
}
@media only screen and (max-width: 850px) {
  * body .main .section-parent .section-children .section-right {
    padding: 0;
  }
  * body footer .footer-container {
    padding: 0;
  }
}
@media only screen and (max-width: 670px) {
  * body .service-book {
    display: none;
  }
  * body .contact {
    right: 10px;
    left: 10px;
    bottom: 80px;
  }
  * body .contact img {
    width: 60%;
  }
  * body .contact .zalo {
    text-align: right;
  }
  * body .service-book-phone {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: #fff;
    padding: 20px 0;
  }
  * body .service-book-phone a {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  * body header nav .nav-menu {
    display: none;
  }
  * body header nav .header-menu-button {
    display: block;
  }
  * body .main #logo .section-right .second-row {
    flex-direction: column;
    gap: 40px;
  }
  * body .main #color .section-right .section-color {
    display: grid;
    grid-template-columns: auto;
  }
  * body .main #color .section-right #card-orange {
    border-radius: 16px 16px 0 0;
  }
  * body .main #color .section-right #card-black {
    border-radius: 0 0 16px 16px;
  }
  * body .main #social-media #phone-wallpaper .section-phone {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  * body .main #social-media #phone-wallpaper .section-phone .logo {
    width: 300px;
    margin: 0 auto;
  }
  * body .main #social-media #phone-wallpaper .section-phone #left-phone .logo {
    border-radius: 0;
  }
  * body .main #social-media #phone-wallpaper .section-phone #middle-phone .logo {
    border: 1px solid #f5940c;
  }
  * body .main #social-media #phone-wallpaper .section-phone #right-phone .logo {
    border-radius: 0;
  }
  * body footer .footer-container {
    padding-bottom: 90px;
  }
}/*# sourceMappingURL=style.css.map */